html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

table.eqlab-table {
    border: 1px solid #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.eqlab-table td, table.eqlab-table th {
    border: 1px solid #AAAAAA;
    padding: 0px 2px;
}
table.eqlab-table tbody td {
    font-size: 12px;
}
table.eqlab-table tr:nth-child(even) {
    background: #F2F4F5;
}

table.eqlab-table thead {
    
}

table.eqlab-table thead th {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
table.eqlab-table tfoot td {
    font-size: 14px;
}
table.eqlab-table tfoot .links {
    text-align: right;
}
table.eqlab-table tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}