html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

fieldset {
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

legend {
    font-size: 0.75rem;
    font-weight: bold;
    width: inherit;
    margin-left: 10px;
    padding: 0 5px;
}

.col-form-label {
    padding-top: 0;
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.form-control-sm {
    height: calc(1.5em + 0.1rem + 2px);
    padding: 0.25rem;
    font-size: 0.65625rem;
    line-height: 1.5;
    border-radius: rem;
}

div.list-group-item {
    padding: 5px
}

table.eqlab-table {
    border-style: hidden;
    // border: 1px solid #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.eqlab-table td, table.eqlab-table th {
    border: 1px solid #AAAAAA;
    padding: 0px 2px;
}
table.eqlab-table tbody td {
    font-size: 12px;
}
table.eqlab-table tr:nth-child(even) {
    background: #F2F4F5;
}

table.eqlab-table thead {
    
}

table.eqlab-table thead th {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
table.eqlab-table tfoot td {
    font-size: 14px;
}
table.eqlab-table tfoot .links {
    text-align: right;
}
table.eqlab-table tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}